/** Globals **/
body {
    padding: 0 24px;
    font-size: 16px;
}
a,
a:link,
a:visited,
a:hover,
a:active {
    color: #000000;
    text-decoration: none;
    font-weight: normal;
}
.flex-container {
    display: flex;
    align-items: center;
}
.flex-container_inline {
    display: inline-flex;
    align-items: center;
}
.flex-justify_space-between {
    justify-content: space-between;
}
.spaced-links a:not(:last-child) {
    margin-right: 1rem;
}
/** Header styles **/
header {
    height: 64px;
    width: 100%;
    
}
.header-left {
    font-weight: lighter;
    height: 2rem;
}
header strong {
    font-weight: bold;
}
.header-mobile {
    display:none;
}
@media only screen and (max-width: 600px) {
    .header-desktop {
        display: none;
    }
    .header-mobile {
        display:inherit;
        width: 100%;
    }
}

/** Main styles **/


/** Footer styles **/
footer {
    padding-top: 1rem;
    width: 100%;
}
.footer-right {
    display: inherit;
}
@media only screen and (max-width: 600px) {
    .footer-right {
        display: none;
    }
}
