/** Globals **/
body {
    font-size: 16px;
    margin: 0;
    font-family: Helvetica;
}
a,
a:link,
a:visited,
a:hover,
a:active {
    color: #000000;
    text-decoration: none;
    font-weight: normal;
}
h2 {
    font-weight: bold;
    font-size: 2rem;
}
.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.flex-container_inline {
    display: inline-flex;
    align-items: center;
}
.flex-justify_space-between {
    justify-content: space-between;
}
.flex-direction_column {
    flex-direction: column;
}
.spaced-links a:not(:last-child) {
    margin-right: 1rem;
}
button {
    background-color: #555555;
    border: none;
    color: white;
    padding: .5rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.mobile {
    display:none;
}
@media only screen and (max-width: 600px) {
    .desktop {
        display: none;
    }
    .mobile {
        display:inherit;
        width: 100%;
    }
}
.pad-horizontal {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.pad-vertical {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.pad-left {
    padding-left: 1.5rem;
}
.pad-right {
    padding-right: 1.5rem;
}
.pad-below {
    padding-bottom: 2rem;
}
/** Header styles **/
header {
    height: 64px;
    width: 97%;
    
}
.header-left {
    font-weight: lighter;
    height: 2rem;
}
header strong {
    font-weight: bold;
}
.background-color_lightgrey {
    background-color: lightgrey;
}
/** Main styles **/
section {
    padding: 2rem 0;
    width: 98.5%;
}
.card-large img, .card-large video {
    width: 60%;
}
#banner div {
    width: 20%;
    text-align: center;
}
#banner div p {
    padding: 1.5rem 0;
}
#banner div button {
    width: 100%;
}

/** Footer styles **/
footer {
    padding-top: 1rem;
    width: 97%;
}
.footer-right {
    display: inherit;
}
@media only screen and (max-width: 600px) {
    .footer-right {
        display: none;
    }
}
