/** Globals **/
body {
    font-size: 16px;
    margin: 0;
    font-family: Average, serif;
    color: #414a4c;
    font-weight: lighter;
}
a{
    text-decoration: none;
    color: #034f84;
}
a.naked-link,
a.naked-link:link,
a.naked-link:visited,
a.naked-link:hover,
a.naked-link:active {
    color: #000000;
    font-weight: normal;
}
h2 {
    font-weight: bold;
    font-size: 2rem;
}
h3 {
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: .5rem;
}
h4 {
    margin: .5rem 0;
}
em {
    font-style: italic;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.flex-container_inline {
    display: inline-flex;
    align-items: center;
}
.flex-justify_space-between {
    justify-content: space-between;
}
.flex-align_clear {
    align-items:initial;
}
.flex-direction_column {
    flex-direction: column;
}
.spaced-links a:not(:last-child) {
    margin-right: 1rem;
}
.align-left {
    text-align: left;
}
button {
    background-color: #563f46;
    border: none;
    color: white;
    padding: .5rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
button:hover {
    background-color: #3E232B;
    transition: background-color ease .5s;
}

.mobile {
    display:none;
}
@media only screen and (max-width: 600px) {
    .desktop {
        display: none;
    }
    .mobile {
        display:inherit;
        width: 100%;
    }
}
.pad-horizontal {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.pad-vertical {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.pad-vertical-tiny {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.pad-left {
    padding-left: 1.5rem;
}
.pad-right {
    padding-right: 1.5rem;
}
.pad-below {
    padding-bottom: 2rem;
}
.pad-below-thin {
    padding-bottom: 1.5rem;
}
@media only screen and (max-width: 600px) {
    .pad-left {
        padding-left: 0;
    }
}
/** Header styles **/
header {
    box-sizing: border-box;
    height: 64px;
    width: 100%;
    
}
.header-left {
    font-weight: lighter;
    height: 2rem;
}
header strong {
    font-weight: bold;
}
.background-color_lightgrey {
    background-color: #c8c3cc;
}
/** Main styles **/
main {
    width: 100%;
}
section {
    box-sizing: border-box;
    padding: 2rem 0;
    width: 100%;
    text-align:center;
}
@media only screen and (max-width: 600px) {
    section.pad-vertical {
        padding-top: 0;
    }
}
.card-large {
    width: 60%;
}
.card-large h3 {
    padding-top: .5rem;
    padding-bottom: 1rem;
}
.card-large img, .card-large video {
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .card-large {
        width:100%;
    }
}
.card-small_horizontal {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 0 1rem 1rem;
    text-align: left;
}
.card-small_horizontal div {
    align-items: left;
    padding-left: 1rem;
    flex: .6;
    width: 100%;
}
.card-small_horizontal img {
    width: 35%;
    height: auto;
}
.card-small_horizontal a {
    font-size: small;
}
@media only screen and (max-width: 600px) {
    .card-small_horizontal {
        padding: 0;
        background-color: inherit;
    }
    .card-small_horizontal img.mobile {
        width: 100%;
        padding: 1rem;
    }
    .card-small_horizontal.flex-container {
        flex-direction: column;
    }
}
/** main#banner **/
.banner-content {
    text-align: center;
    flex: .6;
}
.banner-content p {
    padding: 1.5rem 0;
    font-size: larger;
    font-weight: bold;
}
.banner-content button {
    width: 100%;
}
@media only screen and (max-width: 600px) {
    #banner {
        padding-left:0;
        padding-top:0;
        justify-content: center;
    }
    .banner-content {
        padding-top: 2rem;
        flex: .9;
    }
}
/** main#info **/
#info {
    flex-wrap:nowrap;
}
.info-right {
    flex: 1;
}
@media only screen and (max-width: 600px) {
    .info-right {
        padding: 1rem;
    }
}
/** main#learn **/
#learn {
    background-color: #c8c3cc;
    padding: 1rem 3.5rem;
}
.learn-row:first-of-type {
    margin-bottom: .5rem;
}
@media only screen and (max-width: 600px) {
    #learn {
        background-color: white;
        padding-left: 0;
        padding-right: 0;
    }
    #learn.flex-container {
        flex-direction: column;
    }
    .learn-row {
        background-color: white;
    }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}
.card-list_item {
	display: flex; 
  padding: 0.5em;
    width: 32%;
}
@media only screen and (max-width: 1400px) {
    .card-list_item {
        width: 30%;
    }
}
.card-list_content {
    box-shadow: 3px 2px 3px grey;
}
.card-list_content:hover {
    box-shadow: 3px 2px 3px #563f46;
    transition: box-shadow ease .5s;
}
.card-list_content {
    background-color: white;
  display: flex;
  flex-direction: column;
	width: 100%;
	text-align: left;
}
.card-list_content img {
    width: 100%;
}
.card-list_content h3 {
	padding-top: 1rem;
	padding-left: 1rem;
}
.card-list_content h4 {
	padding: .5rem 0 .5rem 1rem;
}
.card-list_content p {
	flex: 1 0 auto;
	padding-left: 1rem;
	padding-bottom: 1.5rem;
	line-height: 1.5rem
}
@media only screen and (max-width: 600px) {
    .card-list {
        flex-direction: column;
    }
    .card-list_item {
        box-sizing: border-box;
        width: 100%;
    }
    .card-list_content {
        background-color: #c8c3cc;
    }
    .card-list_content h3 {
        padding: 1rem 0 1rem 1rem;
        box-shadow: 3px 2px 3px grey;
    }
    .card-list_content h3:hover {
        background-color:#563f46;
        color: white;
        transition: color ease .5s, background-color ease .5s;
    }
    .card-list_content p, .card-list_content img, .card-list_content h4 {
        display: none;
    }
}
/** main#exhibit **/
.exhibit-left video {
    padding-bottom: 1.5rem;
}
.exhibit-right {
    width: 40%;
}
/** Footer styles **/
footer {
    box-sizing: border-box;
    padding-top: 1rem;
    width: 100%;
}
.footer-right {
    display: inherit;
}
@media only screen and (max-width: 600px) {
    .footer-right {
        display: none;
    }
    footer.flex-justify_space-between {
        font-size: smaller;
        justify-content: center;
    }
}
